:root {
	--mc-core-green-6: #2a641c;
	--mc-core-green-5: #3c8527;
	--mc-core-green-4: #52a535;
	--mc-core-green-3: #6cc349;
	--mc-core-green-2: #86d562;
	--mc-core-green-1: #a0e081;
	--mc-core-grey-6: #262423;
	--mc-core-grey-5: #3d3938;
	--mc-core-grey-4: #6b6562;
	--mc-core-grey-3: #aba09c;
	--mc-core-grey-2: #d0c5c0;
	--mc-core-grey-1: #ede5e2;
	--mc-core-rich-black: #000;
	--mc-core-off-black: #171615;
	--mc-core-white: #fff;
	--mc-core-off-white: #fcf5f1;
  
  --mc-vanilla-green-6: #2a641c;
	--mc-vanilla-green-5: #3c8527;
	--mc-vanilla-green-4: #52a535;
	--mc-vanilla-green-3: #6cc349;
	--mc-vanilla-green-2: #86d562;
	--mc-vanilla-green-1: #a0e081;
	--mc-vanilla-brown-6: #492d1f;
	--mc-vanilla-brown-5: #66412c;
	--mc-vanilla-brown-4: #805539;
	--mc-vanilla-brown-3: #976746;
	--mc-vanilla-brown-2: #ad7a54;
	--mc-vanilla-brown-1: #c28e64;
	--mc-vanilla-blue-6: #002fae;
	--mc-vanilla-blue-5: #0040c8;
	--mc-vanilla-blue-4: #0855db;
	--mc-vanilla-blue-3: #1e6eea;
	--mc-vanilla-blue-2: #3a87f4;
	--mc-vanilla-blue-1: #5b9ffb;
	--mc-vanilla-grey-6: #262423;
	--mc-vanilla-grey-5: #3d3938;
	--mc-vanilla-grey-4: #6b6562;
	--mc-vanilla-grey-3: #aba09c;
	--mc-vanilla-grey-2: #d0c5c0;
	--mc-vanilla-grey-1: #ede5e2;
	--mc-vanilla-coldgrey-6: #2c2f3a;
	--mc-vanilla-coldgrey-5: #3d4250;
	--mc-vanilla-coldgrey-4: #4d5466;
	--mc-vanilla-coldgrey-3: #5d647a;
	--mc-vanilla-coldgrey-2: #6c748c;
	--mc-vanilla-coldgrey-1: #8089a2;
  
	--mc-legends-light-blue-6: #339cd7;
	--mc-legends-light-blue-5: #39b9eb;
	--mc-legends-light-blue-4: #4ad5ff;
	--mc-legends-light-blue-3: #70dfff;
	--mc-legends-light-blue-2: #95e8ff;
	--mc-legends-light-blue-1: #acf2ff;
	--mc-legends-dark-blue-6: #001236;
	--mc-legends-dark-blue-5: #00215c;
	--mc-legends-dark-blue-4: #00337d;
	--mc-legends-dark-blue-3: #003bab;
	--mc-legends-dark-blue-2: #005dcf;
	--mc-legends-dark-blue-1: #007ff2;
	--mc-legends-light-orange-6: #de7523;
	--mc-legends-light-orange-5: #e89133;
	--mc-legends-light-orange-4: #f1ad42;
	--mc-legends-light-orange-3: #f6c25a;
	--mc-legends-light-orange-2: #fad36f;
	--mc-legends-light-orange-1: #fddf93;
	--mc-legends-ultra-dark-blue: #071927;
	--mc-legends-ultra-dark-orange: #271505;
  
	--mc-dungeons-orange-6: #de5b0d;
	--mc-dungeons-orange-5: #ff791a;
	--mc-dungeons-orange-4: #ffa41f;
	--mc-dungeons-orange-3: #ffc42b;
	--mc-dungeons-orange-2: #ffd953;
	--mc-dungeons-orange-1: #fff27a;
	--mc-dungeons-red-6: #8f1f0b;
	--mc-dungeons-red-5: #b42d10;
	--mc-dungeons-red-4: #da3a16;
	--mc-dungeons-red-3: #ff481b;
	--mc-dungeons-red-2: #ff6d3a;
	--mc-dungeons-red-1: #ff925b;
	--mc-dungeons-mulberry-6: #190d19;
	--mc-dungeons-mulberry-5: #32122a;
	--mc-dungeons-mulberry-4: #4f1030;
	--mc-dungeons-mulberry-3: #530f33;
	--mc-dungeons-mulberry-2: #6c0e37;
	--mc-dungeons-mulberry-1: #7b0d3a;
  
	--mc-realms-deep-blue-7: #050029;
	--mc-realms-deep-blue-6: #0c0248;
	--mc-realms-deep-blue-5: #210a80;
	--mc-realms-deep-blue-4: #401cac;
	--mc-realms-deep-blue-3: #643acb;
	--mc-realms-deep-blue-2: #8d68e0;
	--mc-realms-deep-blue-1: #bca4ec;
	--mc-realms-pink-6: #7f007a;
	--mc-realms-pink-5: #a40094;
	--mc-realms-pink-4: #d812b4;
	--mc-realms-pink-3: #e833c2;
	--mc-realms-pink-2: #f460d2;
	--mc-realms-pink-1: #fb95e2;

  --mc-default-focus: #1157be;
	--mc-default-caution: #e2b923;
	--mc-default-warning: #ca3636;

  --green-vanilla-01: #3c8527;
	--green-vanilla-02: #2a641c;
	--green-vanilla-03: #52a535;
	--green-vanilla-04: #a0e081;
	--green-vanilla-button-focus-border: #1452cc;
	--transparent: transparent;
	--white-01: #ffffff;
	--white-02: #e7eaef;
	--black-01: #000000;
	--black-02: #262423;
	--black-03: #071927;
	--black-04: #252525;
	--black-05: #8d8e92;
	--black-06: #2b2827;
	--black-07: #171615;
	--black-A33: #ffffff33;
	--black-A4d: #ffffff4d;
	--black-A26: #00000026;
	--black-A40: #00000040;
	--disabled-01: #aba09c;
	--disabled-02: #ede5e2;
}