html, body {
  margin: 0px;
  padding: 0px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: sans-serif;
}

* {
  text-align: center; /* Why do I have a bad feeling about this? */
}



.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  background: var(--bg-secondary);
  padding-right: 20px;
  box-sizing: border-box;
  text-align: right;
  color: var(--text-primary);
}