html, body {
  margin: 0px;
  padding: 0px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-family: sans-serif;
}

* {
  text-align: center;
  -webkit-box-sizing: border-box;
	box-sizing: border-box;
  /* ^ delete this and I will hunt you down */
}

a {
  color: var(--link-color);
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  background: var(--bg-secondary);
  padding-right: 20px;
  box-sizing: border-box;
  text-align: right;
  color: var(--text-primary);
}